# Project exclude paths
/target/
/logo/
/.idea/
/logs/
/dependency-reduced-pom.xml
*.iml
/libs/com/github/Schottky-spi/api/*
/libs/com/github/Schottky-spi/command/*
/libs/com/github/Schottky-spi/config/*
/libs/com/github/Schottky-spi/language/*
/libs/com/github/Schottky-spi/menu/*
/libs/com/github/Schottky-spi/util/*